<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <title>Manga</title>
</head>
<body>
    <h2>Mangas</h2>
    <ul>
        <% mangas.forEach(manga => { %>
            <li><%= manga.titulo %> - <%= manga.autor %> - <%= manga.genero %> - <%= manga.volumenes %> - <%= manga.fechaPublicacion %> - <%= manga.sinopsis %> - <%= manga.calificacion %> - <%= manga.editorial %></li>
        <%}); %>
    </ul>
</body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mangas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-12 alert alert-success"> 
                <h1 class="text-center">Manga</h1>
            </div>
            <div class="col-12">
                <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">titulo</th>
                        <th scope="col">autor</th>
                        <th scope="col">genero</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% mangas.forEach( manga => { %>
                        <tr>
                            <th scope="row"><%= manga.id %></th>
                            <td><%= manga.titulo %></td>
                            <td><%= manga.autor %></td>
                            <td><%= manga.genero %></td>
                            <td><%= manga.volumenes %></td>
                            <td><%= manga.fechaPublicacion %></td>
                            <td><%= manga.sinopsis %></td>
                            <td><%= manga.calificacion %></td>
                            <td><%= manga.editorial %></td>
                        </tr>
                   <% }) %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>